//===== Colors =====//
$theme-color: #e34691;
$secondary-color: #3498db;
$body-color: #353535;
$heading-color: #333333;
$bg-grey: #f6f6f6;
$border-color: #e5e5e5;
$bg-blue: #121e47;


//===== Font Family =====//
$body-font: 'Roboto', sans-serif;
$heading-font: 'Poppins', sans-serif;


//===== Line Height =====//
$body-line-height: 24px;


//==== Font size =====//
$body-font-size: 14px;
$h1: 42px;
$h2: 30px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$h6: 14px;


//===== Social Colors =====//
$facebook:                 #3B5998;
$twitter:                  #00ACEE;
$google-plus:              #DD4B39;
$pinterest:                #C8232C;
$linkedin:                 #0E76A8;
$flickr:                   #FF0084;
$dribbble:                 #EA4C89;
$google:                   #DD4B39;
$skype:                    #00AFF0;
$behance:                  #0057ff;
$youtube:                  #C4302B;
$vimeo:                    #86C9EF;
$yahoo:                    #720E9E;
$paypal:                   #00588B;
$delicious:                #205CC0;
$flattr:                   #F67C1A;
$android:                  #A4C639;
$tumblr:                   #34526F;
$wikipedia:                #333333;
$stumbleupon:              #F74425;
$foursquare:               #25A0CA;
$digg:                     #191919;
$spotify:                  #81B71A;
$reddit:                   #C6C6C6;
$cc:                       #688527;
$vk:                       #2B587A;
$rss:                      #EE802F;
$podcast:                  #E4B21B;
$dropbox:                  #3D9AE8;
$github:                   #171515;
$soundcloud:               #FF7700;
$wordpress:                #1E8CBE;
$yelp:                     #C41200;
$scribd:                   #666666;
$cc-stripe:                #008CDD;
$drupal:                   #27537A;
$get-pocket:               #EE4056;
$bitbucket:                #0E4984;
$stack-overflow:           #EF8236;
$hacker-news:              #FF6600;
$xing:                     #126567;
$instagram:                #D82E86;
$quora:                    #A82400;
$openid:                   #E16309;
$steam:                    #111111;
$amazon:                   #E47911;


// Layouts
$sp-layout : 'only screen and (min-width: 1920px)';
$xx-layout : 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$xlg-layout : 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout : 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout : 'only screen and (max-width: 767px)';
$xs-layout : 'only screen and (max-width: 575px)';